<div class="home-container">
    <div class="ui segment yellow">
        <div class="ui two column grid">
            <div class="row">
                <div class="column center aligned">
                    <h1>Mamoru O'Hara</h1>
                    <img class="ui fluid image" src="media/mamo.jpg">
                </div>
                <div class="column">
                    <h2>About Me:</h2>
                    <div class="ui message">
                        <h3>I am currently a senior in Computer Science at the University of Illinois
                        Urbana Champaign working towards a Minor in Astronomy. </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
